WindowsFormsApp1/.vs/WindowsFormsApp1/v15/Server/sqlite3/db.lock
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.exe.manifest
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.csproj.FileListAbsolute.txt
WindowsFormsApp1/WindowsFormsApp1/obj/Debug/WindowsFormsApp1.application
WindowsFormsApp1/WindowsFormsApp1/bin/Debug/WindowsFormsApp1.exe.manifest
WindowsFormsApp1/WindowsFormsApp1/bin/Debug/WindowsFormsApp1.application
WindowsFormsApp1/.vs/WindowsFormsApp1/v15/Server/sqlite3/storage.ide-wal
WindowsFormsApp1/.vs/WindowsFormsApp1/v15/Server/sqlite3/storage.ide-shm
WindowsFormsApp1/.vs/WindowsFormsApp1/v15/Server/sqlite3/storage.ide
